body{
  background-color: #1A1A1A;
}

.wall {
  background-color: #1A1A1A;
  margin: auto;
}

h1{
  color: white;
  text-align: center;
  font-family: "Creepster", sans-serif;
  font-size: 40px;
}

p{
  font-size:10px;
  font-family: "Helvetica", sans-serif;
  text-align: center;
}
